<div class="container my-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <h4><%= @post.name %></h4>
    </div>
    <div class="col-md-3" id="post_<%= @post.id %>">
      <div class="favorite"><%= render "public/favorites/favorite", post: @post %></div>
    </div>
    <div class="col-md-3">
      <% if @post.user == current_user %>
        <%= link_to "投稿削除", post_path(@post), method: :delete, class: 'btn btn-outline-danger' %>
        <%= link_to "編集", edit_post_path(@post), class: 'btn btn-outline-success' %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div classs="col-md-4">
      <table class="table table-bordered shadow mb-0">
        <tbody class="thead-light">
          <tr>
            <th>価格</th>
            <td><%= @post.price.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>登録日時</th>
            <td><%= l @post.created_at, format: :long %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @genre.name %></td>
          </tr>
          <tr>
            <th>保存方法</th>
            <td><%= @post.storage %></td>
          </tr>
          <tr>
            <th>消費期限</th>
            <td><%= @post.expired %></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><%= @post.prefecture_code %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= @post.is_active ? "販売中" : "販売終了" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center shadow">
      <div><%= attachment_image_tag @post, :image, :fill, 300, 270 %></div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center shadow">
        <%= form_with model: @post, local: true do |f| %>
          <%= f.text_area :body, :readonly => true, size: '41x13' %>
        <% end %>
    </div>
  </div>
</div>