<div class="container">
  <h2 class="mt-4" id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %>さんとのやりとり</h2>
  <div class="line-bc">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
      <div class="mycomment text_break">
        <%= simple_format(h chat.message) %>
      </div>
      <div>
        <p><%= l chat.created_at, format: :short %></p>
      </div>
      <% else %>
    <div class="balloon6">
      <div class="faceicon">
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg" %>
      </div>
        <div class="chatting">
          <div class="says text-break">
            <%= simple_format(h chat.message) %>
          </div>
          <div>
            <p><%= l chat.created_at, format: :short %></p>
          </div>
        </div>
    </div>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: [@user, @chat] do |f| %>
  <div class="send-form">
    <%= f.text_area :message, size: "60x5" %>
    <%= f.hidden_field :room_id %>
  </div>
  <div class="send-btn">
    <%= f.submit "送信する", class: 'button' %>
  </div>
  <% end %>

</div>