<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <%= link_to "プロフィール", user_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
  <% if unchecked_notifications.any? %>
    <span>
      <i class="fas fa-circle n-circle"></i>
    </span>
  <% end %>
    <%= link_to "通知一覧", notifications_path, class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "お気に入り", user_favorites_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロー中", user_followings_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロワー", user_followers_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">プロフィール編集</a>
  </li>
</ul>
<div class="container">
  <h3>プロフィール編集</h3>
  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @user, local:true do |f| %>
      <div>
        <div>
          <%= f.label :"名前" %>
          <%= f.text_field :name, autofocus: true, placeholder:"名前"%>
        </div>
        <div>
          <%= f.label :"自己紹介" %>
          <%= f.text_area :body %>
        </div>
        <div>
          <%= f.label :"プロフィール画像" %>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div>
          <%= f.label "都道府県" %><br>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
        </div>
        <div>
          <%= f.label "市区町村" %><br>
          <%= f.text_field :city %>
        </div>
        <div>
          <%= f.submit "変更を保存" %>
          <%= link_to " 退会する", quit_confirm_user_path, class: "glyphicon glyphicon-tint btn btn-danger btn-sm ml-5", style: "margin: 10px;" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>