<% if user_signed_in? && current_user.id.to_s == params[:id] %>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">プロフィール</a>
  </li>
  <li class="nav-item">
  <% if unchecked_notifications.any? %>
    <span>
      <i class="fas fa-circle n-circle"></i>
    </span>
  <% end %>
    <%= link_to "通知一覧", notifications_path, class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "お気に入り", user_favorites_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロー中", user_followings_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロワー", user_followers_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
  <li class="nav-item">
    <%= link_to "プロフィール編集", edit_user_path(current_user.id), class: 'nav-link text-dark' %>
  </li>
</ul>
<% end %>



<div class="container my-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <h4><%= @user.name %>のプロフィール</h4>
    </div>
    <div class="col-md-2">
      <% if current_user != @user %>
        <%= link_to 'チャットを始める', chat_path(@user), class: 'btn btn-outline-info' %>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
          <p><%= link_to "フォロー済み", user_relationships_path(@user), method: :delete, class: 'btn btn-info' %></p>
        <% else %>
          <p><%= link_to "フォローする", user_relationships_path(@user), method: :post, class: 'btn btn-outline-info' %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div classs="col-md-4">
      <table class="table table-bordered table_border_radius shadow">
        <tbody class="thead-light">
          <tr>
            <th>画像</th>
            <td class="text-center"><%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <%= form_with model: @user, local: true do |f| %>
            <td><%= f.text_area :body, :readonly => true, size: '24x5' %></td>
            <% end %>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @user.sex %></td>
          </tr>
          <tr>
            <th>登録日時</th>
            <td><%= l @user.created_at, format: :long %></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><%= @user.prefecture_code %></td>
          </tr>
          <tr>
            <th>市区町村</th>
            <td><%= @user.city %></td>
          </tr>
          <tr>
            <th>フォロー数</th>
            <td><%= @user.followings.count %></td>
          </tr>
          <tr>
            <th>フォロワー数</th>
            <td><%= @user.followers.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <table class="table table_border_radius shadow">
        <thead class="thead-light">
          <tr>
            <th>投稿日</th>
            <th>画像</th>
            <th>食材名</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= l post.created_at, format: :long %></td>
            <td><%= attachment_image_tag post, :image, format: 'jpeg', size: "50x50" %></td>
            <td><%= post.name %></td>
            <td><%= post.genre.name %></td>
            <td><%= post.is_active ? "販売中" : "販売終了" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>