<!DOCTYPE html>
<html>
  <head>
    <title>motaoba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="main">
    <%= yield %>
    </main>

    <footer class="pt-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h6 class="text-white my-3 text-center">もったいないおばけ</h6>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
